<section class="inicio" data-bs-ride="carousel">
    <div class="listadopeliculas_genero">
        <h1 id="peliculas">PELICULAS</h1>
        <div class="listado_genero" data-bs-interval="10000">

            <h2>Accion</h2>

            <h5>{{pelicula.title}}</h5>

            <img id="poster-1" [routerLink]="['/pelicula', pelicula.id]"
            src="https://image.tmdb.org/t/p/w500//{{pelicula.poster_path}}" alt="">
            <button id="next">next</button>
            <button id="antes">a</button>
    </div>
        <div class="listado_genero">
            <h2>Romance</h2>
        </div>
    </div>
</section>