input{
    background-color:#881b4854; 
    margin: 1%; 
    width: 50%;
    border-radius: 5px;
    border-color:#840037a2; 
    color: white;
}
input[type="submit"]{
    background-color:#8a0c40;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.9;
    color: white;
    width: 25%;
}