.visualizar-usuario{
    margin: 50px;
    margin-left: 100px;
    display:grid; 
    grid-template-columns: repeat(4, 2fr);
}

img{
    border-radius: 1000px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    shape-outside: circle();
    display: grid;
    grid-column: 1/2;
}

.nombreUsuario{
    color:#FDB731; 
    display: grid;
    grid-column: 2/5;
}

.descripcion{
    background-color: rgb(255, 255, 255);
    width: 10%;
    height: 20%;
    border-radius: 15px;
    text-align: center;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: grid;
    grid-column: 1/2;
}

.listaVer{
    display: grid;
    grid-column: 2/3;
}

.listaVisto{
    display: grid;
    grid-column:3/4; 
}

input{
    margin-left: 40px;
}

a{
    text-decoration: none;
}