
.navegacion{
    display: flex;
    justify-content:end;
}

.navegacion a{
    text-decoration: none;
    margin: 1rem;
    color: rgb(101, 117, 238);
}

header .tit{
    margin-right: 58rem;
    
    color:#880039de; 
}

header .tit span {
    color: white;
}

