.inicio{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.listadopeliculas_genero{
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    width: 90%;
    margin-right: 5%;
}

