<section class="visualizar-usuario">
    <div class="fotoPerfil">
        <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="foto de perfil">
          <div class="editarPerfil">
        <button><a href="" [routerLink]="['/editar']">Editar</a></button>
    </div>

    </div>

    <div class="nombreUsuario">
        <h1>usuario___</h1>
    </div>

    <div class="descripcion">
        <p>amo la facu
            lalalala
        </p>
    </div>
  
        <div class="listaVer">
            <input type="submit"  value="Peliculas que quiero ver">
        </div>
        <div class="listaVisto">
            <input type="submit"  value="Peliculas que ya vi">        
        </div>
   
</section>